.tag
  background-color #e5e5e5
  padding 4px 6px
  border-radius 4px
  color #999
.tab-hightlight
  color #fff
  background-color #80bd01
.back-top
  position fixed
  bottom 30px
  right 30px
  opacity .8
  &-icon
    color #1890ff
    font-size 100px
