.topic
  padding 0 20px
  position relative
  height 100%
  width 750px
  box-sizing border-box
  overflow-y scroll
  -webkit-overflow-scrolling touch
.title
  padding 10px
  margin 20px 0
  font-size 36px
  color #2c3e50
  line-height 1.5
  background-color #f0f0f0
  border-radius 6px
.info
  display flex
  padding 20px 0 100px
  align-items center
.avatar
  display inline-block
  width 80px
  height 80px
  border-radius 50%
  background-size cover
  background-color #EEE
  margin-right 20px
.center
  display flex
  flex-direction column
  justify-content space-around
  flex 1 1 auto
.collect
  font-size 28px !important
  display inline !important
  padding 10px 20px !important
  &-wrap
    text-align right
    width 160px
.tag
  padding 8px 20px
  border-radius 8px
  font-size 26px
  &-wrap
    margin-bottom 10px
    text-align right
.reply
  padding 0 20px
  border-bottom 1px solid #EEE
  &-header
    margin 40px -20px 0
    padding 30px
    border-top 1px solid #DDD
    border-bottom 1px solid #DDD
  &-count
    color #1890ff
  &-info
    flex 1
    display flex
    align-items center
  &-name
    padding-right 6px
  &-left
    flex 1
  &-right
    display flex
    align-items center
.user
  display flex
  padding 30px 0
.up-count
  padding-left 10px
  padding-right 20px
