.topic
  padding 0 20px
  position relative
  height 100%
  overflow-y scroll
  -webkit-overflow-scrolling touch
.title
  padding 10px
  margin 20px 0
  font-size 36px
  color #2c3e50
  line-height 1.5
  background-color #f0f0f0
  border-radius 6px
.info
  display flex
  padding 20px 0 100px
.avatar
  display inline-block
  width 80px
  height 80px
  border-radius 50%
  background-size cover
  background-color #EEE
  margin-right 20px
.center
.right
  display flex
  flex-direction column
  justify-content space-around
.center
  flex 1
.tag
  padding 10px 30px
  border-radius 8px
  font-size 26px
  &-wrap
    margin-bottom 10px
    text-align right
