.wrap
  height 100%
  padding 0 20px
  box-sizing border-box
  overflow-y auto
.text
  text-align center
  margin 0
  padding-bottom 20px
  font-size 30px
  color #555
.icon
  color #555
  margin-right 10px
.github
  color #555
  margin-left 40px
.relevant
  padding-bottom 20px
.type
  background-color #EEE
  margin 0 -20px -1px
  font-size 30px
  padding 16px 30px
.link
  display block
  border-top 1px solid #EEE
  padding 0 10px
.title
  color #000
  margin 0
  padding 20px 0
  font-size 32px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
.avatar
  display inline-block
  width 70px
  height 70px
  border-radius 50%
  background-size cover
  background-color #EEE
  margin-right 20px
.bottom
  display flex
  align-items center
  padding 0 10px 20px
.right
  flex 1
  color #777
  display flex
  justify-content space-between
